# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Config
# =========================
.env
*.env
*.properties
*.yml
*.yaml
